# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.BiShe.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\FMJ\Documents\GitHub\BiShe\.idea\.idea.BiShe\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
